<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.getTitle()}"></title>
</head>
<body class="">
<div th:replace="header ::header"></div>
<main role="main" class="py-5 flex-fill text-black">
    <h1 th:text="${board.getTitle()}"></h1>
    <div class="py-1 flex-fill board-main"></div>
    <div class="py-1 flex-fill"></div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1">
            <p class="d-inline-flex p-1 bd-highlight board-main text-white" th:text="${question.getTitle()}"></p>
            <p class="d-inline-flex p-1 bd-highlight board-main text-white" th:text="${question.getDescription()}"></p>
        </div>
    </div>
    </div>
</main>
</body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
</html>