<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${board.getTitle()}"></title>
</head>
<body class="">
<div th:replace="header ::header"></div>
<main role="main" class="py-5 flex-fill text-black">
    <h1 th:text="${board.getTitle()}"></h1>
    <div class="py-1 flex-fill board-main"></div>
    <div class="py-1 flex-fill"></div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="new-item-grid">
                <a class="d-inline-flex p-2 bd-highlight board-main text-white"
                   th:href="@{|/question/new/${board.id}|}">Ask new question</a>
            </div>
            <div class="col" th:each="question : ${questionList}">
                <div class="card text-white bg-dark mb-3 h-100">
                    <div class="card-body card-grid-q">
                        <div class="votebox">
                            <a th:href="@{|/question/upvote/${question.id}|}" style="cursor: pointer;" class="up vote"></a>
                            <a th:href="@{|/question/downvote/${question.id}|}" style="cursor: pointer;" class="down vote"></a>
                        </div>
                        <p th:text="${question.vote}"></p>
                        <h5 class="grid-item-left"><a class="card-title link-light "
                                                      th:href="@{|/question/${question.id}|}"
                                                      th:text="${question.title}"></a>
                        </h5>
                        <div class="grid-item-left" sec:authorize="hasRole('ADMIN')"><a
                                th:href="@{|/question/update/${question.id}|}" class="btn btn-warning ml-2 ">Update</a>
                        </div>
                        <div class="grid-item-right"></div>
                        <div class="grid-item-right" sec:authorize="hasRole('ADMIN')"><a
                                th:href="@{/question/delete(id=${question.id},boardId=${board.id})}" class="btn btn-danger ml-2 ">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
</html>