
.card .card-img-top{
    height: 200px;
    width: auto;
}
.navbar-brand{
    margin-left: 1%;
}
main{
    margin: 1%;
    margin-top: 10px;
}

body {
    background-color: white;
}
.board-main {
    background-color: #72376a;
}
.card-grid-q{
    display: grid;
    grid-template-columns: 2% 2% 15% auto auto 20%;
}
.card-grid{
    display: grid;
    grid-template-columns: 15% auto auto 20%;
}
.new-item-grid{
    display: grid;
    grid-template-columns: 20% auto;
}
.question-ask-grid{
    display: grid;
    grid-template-columns: 20% auto 20%;
}
.grid-item-left {

    border: 1px solid rgba(0, 0, 0, 0.8);
     text-align: left;
 }
.grid-item-right {

    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: right;
}

/*.container .card-deck {
    display: flex;
}*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
// pointer-events: none;
}

.card-columns {
    column-count: 3;
    column-gap: 1.25rem;
}
.card-body{
    background-color: #72376a ;
}
.votebox {
    height: 38px;
    position: relative;
}

.vote {
    width: 0;
    height: 0;
    border: 11px solid transparent;
    position: absolute;
}

.vote:after {
    width: 6px;
    height: 8px;
    position: absolute;
    left: -3px;
    content: ' ';
}

.up.vote {
    border-bottom-color: orangered;
    border-top-width: 0;
    top: 0;
}

.up.vote:after {
    background: -moz-linear-gradient(top, orangered 0%, orangered 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,orangered), color-stop(50%,orangered), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, orangered 0%,orangered 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, orangered 0%,orangered 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, orangered 0%,orangered 50%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, orangered 0%,orangered 50%,rgba(0,0,0,0) 100%); /* W3C */

    top: 11px;
}

.down.vote {
    border-top-color: #CCCCFF;
    border-bottom-width: 0;
    bottom: 0;
}
.down.vote:after {
    background: -moz-linear-gradient(top,  rgba(204,204,255,0) 0%, rgba(204,204,255,1) 50%, rgba(204,204,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,255,0)), color-stop(50%,rgba(204,204,255,1)), color-stop(100%,rgba(204,204,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(204,204,255,0) 0%,rgba(204,204,255,1) 50%,rgba(204,204,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(204,204,255,0) 0%,rgba(204,204,255,1) 50%,rgba(204,204,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(204,204,255,0) 0%,rgba(204,204,255,1) 50%,rgba(204,204,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(204,204,255,0) 0%,rgba(204,204,255,1) 50%,rgba(204,204,255,1) 100%); /* W3C */

    bottom: 11px;
}
/*

.form-control[readonly] {
    background-color: white;
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamMedium.ttf);
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBold.ttf);
    font-variant: Bold;
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBook.ttf);
}

@media (min-width: 1200px) {
    .container {
        max-width: 73%;
    }
    .card-columns {
        column-gap: 3rem;
    }
}

body {
    min-height:100vh;
    background: #F0F0F0 0% 0% no-repeat padding-box;
}


footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-title {
    !*height: 24px;*!
    text-align: center;
    font: 24px/34px Gotham;
    letter-spacing: 0;
    color: #454545;
    opacity: 1;
    margin-bottom: 21px
}

.card-text {
    !*height: 76px;*!
    text-align: center;
    font: 16px/22px Gotham;
    letter-spacing: 0;
    color: #454545;
    opacity: 1;
}
.card-subtext {
    !*height: 12px;*!
    text-align: center;
}

.card-subtext a {
    font: 12px/26px Gotham;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #B5B5B5;
    opacity: 1;
}

.navbar {
    background-color: #5e8e96;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecf0f1;
}
.navbar .navbar-text {
    color: #ecf0f1;
}
.navbar .navbar-text a {
    color: #ecf0f1;
}
.nav-item a {
    color: #ecf0f1;
}

.nav-item a:hover,
.nav-item a:focus{
    color: #bbbbbb;
    text-decoration: none;
}


.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ecf0f1;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecf0f1;
}

.navbar-nav{
    padding-right: 50px;
}

.nav-item {
    padding-right: 50px;
}

.nav-link {
    text-align: center;
    font: Bold 15px/21px Gotham;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
}

.navbar-brand {
    padding-left: 50px;
    font: Bold 29px/41px Gotham;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.author-image-thumb {
    background: transparent url('img/about the author.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.card-author-bio {
    text-align: left;
    font: 18px/28px GothamBook;
    letter-spacing: 0;
    color: #434343;
    opacity: 1;
}
.card-author-link {
    text-align: left;
    font: 16px/26px Gotham;
    letter-spacing: 0;
    color: #D98E8E;
    opacity: 1;
    text-transform: uppercase;
}
.post-subtitle {
    font: 18px/26px Gotham;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #7E7E7E;
    opacity: 1;
}
.post-title {
    text-align: left;
    font: 38px/34px Gotham;
    letter-spacing: 0;
    color: #2F2F2F;
    opacity: 1;
}

.post-body {
    text-align: left;
    font: 24px/39px GothamBook;
    letter-spacing: 0;
    color: #434343;
    opacity: 1;
}






*/
